<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.cloud.user.infrastructure.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.framework.cloud.user.domain.entity.RolePermission">
        <result column="role_id" property="roleId"/>
        <result column="permission_id" property="permissionId"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, permission_id, tenant_id
    </sql>

    <select id="tree" resultType="com.framework.cloud.user.common.vo.RolePermissionTreeVO">
        select
            p.id, p.name, p.code, p.type, p.level,
            p.left, p.right, p.path, p.parent_id, p.trace_id, rp.role_id,
            rp.role_id is not null as is_binding
        from t_permission p
        left join (
            select
                trp.permission_id, trp.role_id
            from t_role_permission trp
            where trp.role_id = #{roleId,jdbcType=BIGINT}
        ) rp on p.id = rp.permission_id
        where p.deleted = 1
    </select>
</mapper>