<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.cloud.user.infrastructure.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.framework.cloud.user.domain.entity.User">
        <id column="id" property="id"/>
        <result column="sex" property="sex"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="birthday" property="birthday"/>
        <result column="introduction" property="introduction"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_id" property="createId"/>
        <result column="update_id" property="updateId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sex, email, mobile, username, nickname, birthday, introduction, avatar, status, tenant_id, create_id, update_id, create_time, update_time, deleted, version
    </sql>

    <select id="page" resultType="com.framework.cloud.user.common.vo.UserPageVO">
        select
            <include refid="Base_Column_List"/>
        from t_user
    </select>

    <select id="user" resultType="com.framework.cloud.user.common.vo.UserIdentifierVO">
        select
            u.id, u.email, u.mobile, u.username, u.nickname, u.status, u.tenant_id,
            ua.identity_type, ua.identifier, ua.credential ,ua.is_verified, ua.is_binding
        from t_user u
        inner join t_user_auth ua on u.id = ua.user_id
        where u.deleted = 1 and ua.deleted = 1 and u.tenant_id = #{tenantId,jdbcType=BIGINT}
        and ua.tenant_id = #{tenantId,jdbcType=BIGINT} and ua.identifier = #{identifier,jdbcType=VARCHAR}
    </select>
</mapper>